{% if mobile %}
<a href="#" data-toggle="modal" class="d_ajax_filter_popup_button clickable" data-target="#{{id}}">
    <i class="fa fa-filter" aria-hidden="true"></i>
</a>
{% endif %}
<div id="{{id}}" data-is="d_ajax_filter" class="ajax-filter {% if setting.layout_position and setting.layout_position in ['content_top', 'content_bottom'] %} af-horizontal {% endif %} {{id}} {% if mobile %} modal fade {% endif %}" {% if mobile %} role="dialog" style="display:none" {% endif %}></div>
<style>
    {% if setting.header %}
    .ajax-filter.{{id}} > div > div.panel-heading{
        color: {{setting.header.text}}!important;
        background:{{setting.header.background}}!important;
    }
    {% endif %}
    {% if setting.product_quantity %}
    .ajax-filter.{{id}} span.quantity{
        color:{{setting.product_quantity.text}}!important;
        background:{{setting.product_quantity.background}}!important;
    }
    {% endif %}
    {% if setting.price_slider %}
    .ajax-filter.{{id}} .noUi-connect {
        background: {{setting.price_slider.area_active}}!important;
    }
    .ajax-filter.{{id}} .noUi-base {
        background: {{setting.price_slider.background}}!important;
    }
    .ajax-filter.{{id}} .noUi-handle{
        background: {{setting.price_slider.handle_background}}!important;
        border: 1px solid  {{setting.price_slider.handle_border}}!important;
    }
    {% endif %}
    {% if setting.group_header %}
    .ajax-filter.{{id}} > .title{
        color:{{setting.group_header.text}}!important;
        background:{{setting.group_header.background}}!important;
    }
    .ajax-filter.{{id}} .af-heading,.af-heading:hover{
        color:{{setting.group_header.text}}!important;
        background:{{setting.group_header.background}}!important;
    }
    {% endif %}
    {% if setting.button %}
    .ajax-filter.{{id}} #resetFilter:hover{
        color:{{setting.button.button_reset}}!important;
    }
    .ajax-filter.{{id}} a#fitlers{
        background:{{setting.button.button_filter}}!important;
        border:1px solid {{setting.button.button_filter}}!important;
    }
    .ajax-filter.{{id}} .af-container#selected:hover{
        color:{{setting.button.button_selected}}!important;
    }
    {% endif %}
    .ajax-filter.{{id}} .af-container > div
    {
        overflow-x: hidden;
        {% if setting.limit_height %}
        max-height:{{setting.height}}; overflow-y: auto;
        {% else %}
        overflow-y: hidden
        {% endif %}
    }
    input[data-mode=radio_and_image]+img{
        border:2px solid #fff!important;
        border-radius:{{design.button.border_radius_image}}!important;
    }
    input[data-mode=checkbox_and_image]+img{
        border:2px solid #fff!important;
        border-radius:{{design.button.border_radius_image}}!important;
    }
    input[data-mode=image_checkbox]+img{
        border-radius:{{design.button.border_radius_image}}!important;
    }
    input[data-mode=image_radio]+img{
        border-radius:{{design.button.border_radius_image}}!important;
    }

    input[data-mode=radio_and_image]:checked+img{
        border:2px solid {{design.button.border_image}}!important;
        border-radius:{{design.button.border_radius_image}}!important;
    }
    input[data-mode=checkbox_and_image]:checked+img{
        border:2px solid {{design.button.border_image}}!important;
        border-radius:{{design.button.border_radius_image}}!important;
    }
    input[data-mode=image_checkbox]:checked+img{
        border:2px solid {{design.button.border_image}}!important;
        border-radius:{{design.button.border_radius_image}}!important;
    }
    input[data-mode=image_radio]:checked+img{
        border:2px solid {{design.button.border_image}}!important;
        border-radius:{{design.button.border_radius_image}}!important;
    }

    {{custom_style}}
</style>

{% for riot_tag in riot_tags %}
<script src="{{riot_tag}}" type="riot/tag"></script>
{% endfor %}
<script  type="text/javascript">
    riot.mixin({ store : d_ajax_filter.createStore({{ json|json_encode(constant('JSON_FORCE_OBJECT')) }}) })
    d_ajax_filter.setGroups('{{id}}',{{ groups }});
    d_ajax_filter.setSetting('{{id}}',{{ setting|json_encode(constant('JSON_FORCE_OBJECT'))}});
    riot.mount('.{{id}}');
    d_ajax_filter.loadQuantity('{{id}}');
    
    {% if setting.submission == '2' %}
    setInterval(d_ajax_filter.updateContent, {{setting.time}});
    {% endif %}

    {{custom_script}}
    // $("body").touchwipe({
    //     wipeLeft: function() { $('#{{id}}').modal('toggle') },
    //     wipeRight: function() { $('#{{id}}').modal('toggle') },
    //     min_move_x: 20,
    //     min_move_y: 20,
    //     preventDefaultEvents: true
    // });
  
</script>